################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/head-pose-opencv/head-pose-opencv.user
